### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [96]:
total_schools = len(school_data['school_name'])

In [97]:
print(f"we have {len(school_data['school_name'])} schools")

we have 15 schools

In [98]:
total_students = len(student_data['student_name'])

In [99]:
print(f"we have {len(student_data['student_name'])} total students in the district")

we have 39170 total students in the district

In [100]:
total_budget = sum(school_data['budget'])

In [101]:
print(f"our budget is {sum(school_data['budget'])} dollars")

our budget is 24649428 dollars

In [102]:
mean_student_math = student_data['math_score'].mean()

In [103]:
print(f"the average math score in the district is {student_data['math_score'].mean()}")

the average math score in the district is 78.98537145774827

In [104]:
mean_student_reading = student_data['reading_score'].mean()

In [105]:
print(f"the average reading score in the district is {student_data['reading_score'].mean()}")

the average reading score in the district is 81.87784018381414

In [106]:
percentage_passing_math = sum(student_data['math_score'] >= 70)/len(student_data['math_score'])*100

In [107]:
print(f"the percentage of students who passed math in the district is {sum(student_data['math_score'] >= 70)/len(student_data['math_score'])*100}")

the percentage of students who passed math in the district is 74.9808526933878

In [108]:
percentage_passing_reading = sum(student_data['reading_score'] >= 70)/len(student_data['reading_score'])*100

In [47]:
print(f"the percentage of students who passed reading in the district is {sum(student_data['reading_score'] >= 70)/len(student_data['reading_score'])*100}")

the percentage of students who passed reading in the district is 85.80546336482001

In [109]:
combined_math_reading = sum(student_data['reading_score'] >= 70) & sum(student_data['math_score'] >= 70)

In [110]:
df_math_reading = student_data[(student_data['reading_score'] >= 70) & (student_data['math_score'] >= 70)]

In [111]:
(df_math_reading['math_score'].count()/len(student_data['reading_score']))*100

65.17232575950983

In [112]:
print(f"the percentage of students who passed math and reading in the district is {(df_math_reading['math_score'].count()/len(student_data['reading_score']))*100}")

the percentage of students who passed math and reading in the district is 65.17232575950983

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [85]:
merged_df_student_school_data = pd.merge(school_data, student_data, how="left", on=["school_name"])

In [86]:
merged_df_student_school_data["Per Student Budget"] = (school_data["budget"]) / (school_data["size"])

In [87]:
merged_df_student_school_data

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Per Student Budget
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,655.0
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,639.0
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,600.0
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,652.0
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,625.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90,NaN
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70,NaN
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84,NaN
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90,NaN
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75,NaN

In [26]:
len(student_data['student_name'])

39170

In [27]:
sum(school_data['budget'])

24649428

In [28]:
df_per_student_budget = sum((school_data['budget']))/(len(student_data['student_name']))

In [29]:
print(df_per_student_budget)

629.2935409752362

In [ ]:
.groupby()

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type